
.owl-item{
    width: 15rem !important;
    margin-right: 2rem;
}
.owl-stage {
    width: 100% !important;
    height: 27rem;
    display: flex;
    align-items: center;
}

.owl-stage-outer {
    width: 100%;
}