.cover-picture-block {
    width: 100%;
    height: 25rem;
    padding: 1.5rem;
    margin-top: 8rem;
    .cover-picture {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        object-fit: cover;
    }
}

.delievery-title, .car-pickup-title {
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    @include Montserrat(1.5rem, 600);
}

.area, .branch {
    display: flex;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .area-title, .branch-title {
        @include Poppins(1.5rem, 400);
    }
    .area-choice, .branch-choice {
        display: flex;
        align-items: center;
        color: $color-text;
        @include Poppins(1.5rem, 600);
    }
    .arrow-right {
        margin-left: 2rem;
    }
}

.estimated-time {
    display: flex;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .time-title {
        @include Poppins(1.5rem, 400);
    }
    .time-choice {
        display: flex;
        align-items: center;
        color: $color-text;
        @include Poppins(1.5rem, 600);
    }
    .arrow-right {
        margin-left: 2rem;
    }
}



.options {
    width: 100%;
    min-height: 10rem;
    // background-color: whitesmoke;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    &__delievery , &__car-pick-up {
        width: 20rem;
        height: 9.5rem;
        // background-color: yellowgreen; //REMOVE LATER
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .option__title {
            margin-top: 1rem;
        }
    }
    &__delievery {
        background-color: $color-secondary;
    }

    &__car-pick-up {
        background-color: $color-tertairy;
    }
}

.category {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        &--title {
            @include Montserrat(1.5rem, 600);
        }
        &--btn {
            @include Montserrat(1.2rem, 600);
            padding: 0.8rem 2rem;
            background-color: $color-tertairy;
            border-radius: 4rem;
            color: black;
            &:hover {
                background-color: black;
                color: $color-tertairy;
                transition: all .2s;
            }
        }
    }
    &__products {
        display: flex;
    }
}