.sign-in-up {
  width: 100%;
  padding: 3rem;
  .logo-box {
    width: 15rem;
  }
  .secondary-header {
    @include Montserrat(1.2rem, 600);
    text-transform: uppercase;
    color: #b6b6b6;
    margin-top: 5rem
  }
  .primary-header {
    @include Poppins(3rem,600);
  }
  .tertairy-header {
    @include Poppins(1.3rem, 500);    
    color: #b6b6b6;
    a {
      color: rgb(72, 72, 255);
    }
    margin-top: 1rem;
  }
  .signup-form {
    margin-top: 3rem;
    .input-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
      label {
        @include Poppins(1.3rem, 500);
        margin-bottom: 0.5rem;
      }
      .dummy {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 1rem;
          height: 100%;
          background-color: #26285d;
          border-radius: 0.5rem 0 0 0.5rem;
        }
      }
      input {
        width: 100%;
        padding: 1rem 1rem 1rem 2rem;
        @include Poppins(1.3rem, 500);
        border-radius: 0.5rem;
        border: 1px solid #b6b6b6;;
        position: relative;
      }
    }
    .sign-up-btn {
      width: 100%;
      padding: 1.5rem;
      background-color: #26285d;
      border-radius: 0.5rem;
      color: $color-primary;
      margin-top: 1.5rem;
      @include Poppins(1.3rem, 500);
      border: none;
      &:hover {
        background-color: $color-text;
        transition: all 0.3s;
      }
    }
    .terms-conditions {
      @include Poppins(1.2rem, 500);
      color: #b6b6b6;
      margin-top: 1rem;
      a {
        color: #ff8533;
        font-weight: 600;
        &:hover {
          transition: all .3s;
          color: rgb(72, 72, 255);
        }
      }
    }
  }
}

.main__landing-picture--picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}