.product-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  .product-img-container {
    width: 100%;
    height: 39.5rem;
    background-color: saddlebrown;
    position: relative;
    // margin-top: 7rem;
    .back-btn-cont {
      background-color: rgba($color: #FFFFFF, $alpha: 0.9);
      width: 5rem;
      position: absolute;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
      top: 5%;
      left: 1.5rem;
    }
  }
  .product-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product-summary {
    padding: 1.5rem;
    .product-name {
      @include Montserrat(1.5rem, 600);
      line-height: 2.5rem;
      margin-top: 1rem;
    }
    hr {
      width: 25%;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      height: 0.3rem;
      border: 0.3rem solid $color-tertairy;
      border-radius: 1rem;
    }
    .description-title {
      @include Montserrat(1.2rem, 600);
      margin-bottom: 1.5rem;
    }
    .product-description {
      @include Montserrat(1.2rem, 400);
      color: $color-text;
      line-height: 2.5rem;
    }
    .add-instructions-title {
      @include Montserrat(1.2rem, 600);
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }
    .instruction-form {
      width: 100%;
      .instructions {
        width: 100%;
        background-color: $text-area-color;
        border: none;
        border-radius: 1.5rem;
        padding: 1.5rem;
        resize: none;
        @include Montserrat(1.2rem, 500);
        &:focus {
          // outline: 0.1rem solid black;
          outline: none;
        }
      }
    }
    .product-qty-price {
      display: flex;
      justify-content: space-between;
      margin-top: 1.8rem;
      .product-qty {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: -5rem;
        .qty-title {
          @include Montserrat(1.3rem, 600);
          margin-bottom: 1.5rem;
        }
        .qty-counter-container {
            display: flex;
            justify-content: center;
            align-items: center;
            form {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              .row {
                display: flex;
                // flex-direction: column;
                justify-content: center;
                align-items: center;
                input {
                  width: 10%;
                  text-align: center;
                  margin: 0 1rem;
                  border: none;
                  @include Montserrat(1.3rem , 600)
                }
                .button {
                  padding: 0.5rem 1rem;
                  border-radius: 50%;
                  cursor: pointer;
                  @include Montserrat(1.3rem,600);
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  box-shadow: 0 0 3rem rgba($color: #000000, $alpha: 0.1);
                  user-select: none;
                }
              }
            }

        }
      }
      .vr {
          height: 5rem;
          width: 0.1rem;
          background-color: #676767;
      }
      .product-price {
          display: flex;
          flex-direction: column;
          align-items: center;
          // margin-left: 10rem;
          margin-right: 2rem;
          .price-title {
            @include Montserrat(1.3rem, 600);
            margin-bottom: 1.5rem;
          }
          .price-value {
            @include Montserrat(1.5rem, 600);
            color: $color-text;  
        }
      }
    }
    .place-order {
        width: 100%;
        height: 5rem;
        margin-top: 2rem;
        border-radius: 1rem;
        background-color: $color-tertairy;
        outline: none;
        border: none;
        cursor: pointer;
        @include Montserrat(1.5rem, 600);
        &:hover {
            background-color: $headers-color;
            color: $color-primary;
            transition: all 0.2s;
        }
    }
  }
}
