.product-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  .product-img-container {
    width: 100%;
    height: 39.5rem;
    background-color: saddlebrown;
    position: relative;
    // margin-top: 7rem;
    .favourite {
      position: absolute;
      width: 5rem;
      height: 5rem;
      background-color: rgba($color: $color-primary, $alpha: 0.9);
      right: 1.5rem;
      bottom: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
    }
    .add-to-favourite {
      width: 2.5rem;
      margin: auto;
      cursor: pointer;
      z-index: 99999;
      fill: black;
      transition: all 0.3s;
      &:hover {
        fill: $color-secondary;
      }
    }
    .back-btn-cont {
      background-color: rgba($color: #ffffff, $alpha: 1);
      box-shadow: 0 0 2rem rgba(0,0,0,0.25);
      width: 5rem;
      position: fixed;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
      top: 2rem;
      left: 1.5rem;
      z-index: 99999999999;
    }
  }
  .product-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product-summary {
    padding: 1.5rem;
    position: relative;
    .product-name {
      @include Montserrat(1.5rem, 600);
      line-height: 2.5rem;
      margin-top: 1rem;
      width: 90%;
    }
    hr {
      width: 25%;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      height: 0.3rem;
      border: 0.3rem solid $color-tertairy;
      border-radius: 1rem;
    }
    .description-title {
      @include Montserrat(1.2rem, 600);
      margin-bottom: 1.5rem;
    }
    .product-description {
      @include Montserrat(1.2rem, 400);
      color: $color-text;
      line-height: 2.5rem;
    }

    .custom-product-container {
      width: 100%;
      // min-height: 10rem;
      border-radius: 0.5rem;
      transition: all 0.3s;
      .custom-product-options {
        display: none;
        transition: all 0.3s;
      }
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      &:hover {
        margin-bottom: 2rem;
      }
      .custom-product-label {
        width: 100%;
        height: 7.5rem;
        border-radius: 0.5rem 0.5rem 0 0;
        background-color: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        cursor: pointer;
        .custom-title {
          @include Montserrat(500, 1.6rem);
        }
        .custom-label-arrow {
          width: 1rem;
          transform: rotateZ(90deg);
          fill: black;
        }
      }
      .custom-product-options {
        width: 100%;
        padding: 2rem;
        .custom-product-option {
          display: flex;
          justify-content: space-between;
          background-color: #fcfafa;
          padding: 1.5rem 3rem;
          border-radius: 3rem;
          input[type=checkbox] {
            display: none;
          } 
          &:hover {
            transition: 0.3s;
            background-color: #eee6e6;
            cursor: pointer;
          }
          &:not(:last-of-type) {
            margin-bottom: 1.5rem;
          }
          .custom-addition-title {
            @include Poppins(1.3rem, 500);
          }
          .custom-addition-value {
            @include Poppins(1.2rem, 600);
            color: rgba($color: #000000, $alpha: 0.3);
          }
        }
      }
    }
    .product-size {
      width: 100%;
      margin-top: 1.5rem;
      .product-size-title {
        @include Montserrat(1.2rem, 600);
        margin-bottom: 1.5rem;
      }
      .product-size-options {
        display: flex;
        justify-content: space-between;
        .single-option {
          &:hover {
            transition: 0.3s;
            background-color: #eee6e6;
            cursor: pointer;
          }
          background-color: $color-secondary;
          padding: 1rem 2.3rem;
          // width: 20%;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 3rem;
          .size-title {
            @include Montserrat(1.2rem, 600);
            margin-bottom: 0.5rem;
          }
          .size-value {
            @include Montserrat(1.1rem, 600);
            color: rgba($color: #000000, $alpha: 0.3);
          }
          input[type=radio] {
            display: none;
          } 
        }
      }
    }
    .style-custom {
      width: 100%;
      margin-top: 1.5rem;
      .style-custom-title {
        @include Montserrat(1.2rem, 600);
        margin-bottom: 1.5rem;
      }
      .style-custom-options {
        display: flex;
        justify-content: space-between;
        .single-option {
          &:hover {
            transition: 0.3s;
            background-color: #eee6e6;
            cursor: pointer;
          }
          background-color: $color-secondary;
          padding: 1rem 2.3rem;
          // width: 20%;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 3rem;
          .size-title {
            @include Montserrat(1.1rem, 600);
            // margin-bottom: 0.5rem;
          }
          input[type=radio] {
            display: none;
          } 
        }
      }
    }
    .color {
      width: 100%;
      margin-top: 1.5rem;
      .color-title {
        @include Montserrat(1.2rem, 600);
        margin-bottom: 1.5rem;
      }
      .color-options {
        display: flex;
        .single-option {
          background-color: $color-secondary;
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          input[type=radio] {
            display: none;
          } 
          &:hover {
            transition: 0.3s;
            background-color: #eee6e6;
            cursor: pointer;
          }
          img {
            width: 2.5rem;
          }
          &:not(:last-of-type) {
            margin-right: 1.5rem;
          }
          .size-title {
            @include Montserrat(1.1rem, 600);
            // margin-bottom: 0.5rem;
          }
        }
      }
    }
    .add-instructions-title {
      @include Montserrat(1.2rem, 600);
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
      // display: none;
    }
    .instruction-form {
      width: 100%;
      .instructions {
        width: 100%;
        background-color: $text-area-color;
        border: none;
        border-radius: 1.5rem;
        padding: 1.5rem;
        resize: none;
        // display: none;
        @include Montserrat(1.2rem, 500);
        &:focus {
          // outline: 0.1rem solid black;
          outline: none;
        }
      }
    }
    .product-qty-price {
      display: flex;
      justify-content: space-between;
      margin-top: 1.8rem;
      .product-qty {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -5rem;
        .qty-title {
          @include Montserrat(1.3rem, 600);
          margin-bottom: 1.5rem;
        }
        .qty-counter-container {
          display: flex;
          justify-content: center;
          align-items: center;
          .qty-form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .row {
              display: flex;
              // flex-direction: column;
              justify-content: center;
              align-items: center;
              input {
                width: 10%;
                text-align: center;
                margin: 0 1rem;
                border: none;
                @include Montserrat(1.3rem, 600);
              }
              .button {
                padding: 0.5rem 1rem;
                border-radius: 50%;
                cursor: pointer;
                @include Montserrat(1.3rem, 600);
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 3rem rgba($color: #000000, $alpha: 0.1);
                user-select: none;
              }
            }
          }
        }
      }
      .vr {
        height: 5rem;
        width: 0.1rem;
        background-color: #676767;
      }
      .product-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin-left: 10rem;
        margin-right: 2rem;
        .price-title {
          @include Montserrat(1.3rem, 600);
          margin-bottom: 1.5rem;
        }
        .price-value {
          @include Montserrat(1.5rem, 600);
          color: $color-text;
        }
      }
    }
    .place-order {
      width: 100%;
      height: 5rem;
      position: relative;
      margin-top: 2rem;
      border-radius: 1rem;
      background-color: $color-tertairy;
      outline: none;
      border: none;
      cursor: pointer;
      @include Montserrat(1.5rem, 600);
      &:hover {
        background-color: $headers-color;
        color: $color-primary;
        transition: all 0.2s;
      }
      .cart-item {
        position:absolute;
        height:24px;
        width:24px;
        top:-10px;
        right:-10px;
        &:before {
          content:'1';
          display:block;
          line-height:24px;
          height:24px;
          width:24px;
          font-size:12px;
          font-weight:600;
          background:#2bd156;
          color:white;
          border-radius:20px;
          text-align:center;
        }
      }
      &.sendtocart {
        .cart-item {
          display:block;
          animation: xAxis 1s alternate forwards cubic-bezier(1.000,0.440,0.840,0.165);
          &:before {
            animation: yAxis 1s  forwards cubic-bezier(0.165, 0.840, 0.440, 1.000);
          }
        }
      }
    }
  }
}
.selected-custom {
  background-color: #eee6e6 !important;
}

.grey {
  background-color: #9f9f9f !important;
}
.black {
  background-color: black !important;
}
.yellow {
  background-color: yellowgreen !important;
}

.single-option img {
  display: none;
}

.selected img {
  display: block;
}

.product-details .product-summary .selected-list .custom-product-options {
  display: block;
  transition: all 0.3s;
}
// TRIAL ADD TO CART
@keyframes xAxis {
  100% {
    // transform: translateX(calc(10vw + 105pxx));
    // transform: translateX(calc(-85vw));
  }
}

@keyframes yAxis {
  100% {
    // transform: translateY(calc(-75vh - 75px));
    transform: translateY(calc(-90vh));
    opacity: 0;
  }
}

@keyframes shakeCart {
  25% {
    transform:translateX(6px)
  }
  50% {
    transform:translateX(-4px);
  }
  75% {
    transform:translateX(2px);
  }
  100% {
    transform:translateX(0);
  }
}
.product-cart {
  position: fixed;
  z-index: 99999999;
  top:2rem;
  right:2rem;
  width:50px;
  height:50px;
  background-color: rgba($color: $color-primary, $alpha: 1);
  box-shadow: 0 0 2rem rgba($color: #000000, $alpha: 0.25);
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:5px;
  margin-top: 0 !important;

  &:before {
    content:attr(data-totalitems);
    font-size:12px;
    font-weight:600;
    position:absolute;
    top:-12px;
    right:-12px;
    background:#2bd156;
    line-height:24px;
    padding:0 5px;
    height:24px;
    min-width:24px;
    color:white;
    text-align:center;
    border-radius:24px;
  }
  &.shake {
    animation: shakeCart .4s ease-in-out forwards;
  }
}