.premium-header {
  margin-top: 2rem;
  padding: 1.5rem;
  // align-items: center;
  // justify-content: space-between;
  .premium-nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    .search-anchor {
      margin-left: auto;
    }
    // justify-content: space-between;
  }
  // .premium-sidebar-btn {
  //   //Side-Nav-Bar
  // }
  .premium-search-icon {
    margin-left: auto;
    margin-right: 1rem;
  }
  .cart-icon {
    margin-right: 1rem;
    position: relative;
  }
  .profile-pic {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
  }
}

.premium-slider {
  width: 100%;
  height: 26rem;
  padding: 1.5rem;
  margin-top: 2rem;
  .cover-slider {
    background-image: url("../../img/watch-slider.png");
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    // background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // object-fit: cover;
    .gradient-cover {
      width: 100%;
      height: 100%;
      padding: 1.5rem;
      border-radius: 1.5rem;
      background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.4));
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      .img-title {
        @include Montserrat(1.8rem, 500);
        color: $color-primary;
        margin-bottom: 1rem;
        line-height: 2.5rem;
      }
      .pagination {
        display: flex;
        .dot {
          width: 1rem;
          height: 0.5rem;
          background-color: $color-primary;
          border-radius: 2rem;
          &:not(:last-of-type) {
            margin-right: 0.5rem;
          }
        }
        .img-selected {
          width: 1.8rem;
        }
      }
    }
  }
}

.premium-products {
  width: 100%;
  min-height: 8rem; //REMOVE LATER
  padding: 1.5rem;
  &__title {
    @include Montserrat(3rem, 700);
  }
  .selections-slider {
    width: 100%;
    margin-top: 1.5rem;
    // display: flex;
    .selection {
      @include Montserrat(1.5rem, 500);
      margin-right: 1.5rem;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      width: fit-content;
    }
    .selected-category {
      color: $color-primary;
      background-color: #474141;
    }
  }
  .premium-products-slider {
    width: 100%;
    min-height: 8rem; //REMOVE LATER
    .premium-product-card {
      width: 19.6rem;
      border: 0;
      // height: 27.7rem;
      border-radius: 10px;
      background-color: $color-primary;
      margin-top: 2.5rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      box-shadow: 0px 6px 30px black;
      -webkit-box-shadow:  0px 0.6px 30px black;
      -moz-box-shadow:  0px 0.6px 30px black;
      position: relative;
      .product-img-cont {
        width: 100%;
        height: 17.8rem;
        position: relative;
      }
      .product-img {
        width: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
      }
      .price-tag {
        @include Montserrat(1.2rem, 600);
        color: $color-primary;
        padding: 0.6rem 0.7rem 0.6rem 0.7rem;
        background-color: #474141;
        border-radius: 0.5rem;
        // margin-top: -3rem;
        z-index: 999;
        position: absolute;
        bottom: -1.5rem;
        left: 1rem;
        // width: fit-content;
      }
      .product-name {
        margin-top: 2rem;
        @include Montserrat(1.2rem, 600);
        margin-bottom: 0.5rem;
        margin-left: 1rem;
      }
      .product-description {
        margin-left: 1rem;
        color: #c2b7c6;
        @include Montserrat(1rem, 600);
      }
      .color-selections {
        width: 100%;
        display: flex;
        margin-top: 0.8rem;
        margin-left: 0.8rem;
        margin-bottom: 1.2rem;
        .color-1 {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          background-color: #ffe2e2;
          margin-right: 1.1rem;
        }
        .color-2 {
          width: 2.5rem;
          height: 2.5rem;
          background-color: #bad7df;
          border-radius: 50%;
          margin-right: 1.1rem;
        }
        .color-3 {
          width: 2.5rem;
          height: 2.5rem;
          background-color: #f6f6f6;
          border-radius: 50%;
          margin-right: 1.1rem;
        }
        .color-4 {
          width: 2.5rem;
          height: 2.5rem;
          background-color: #bcbcbc;
          border-radius: 50%;
        }
      }
      .add-to-card-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
      }
    }
  }
  .category-title {
    @include Montserrat(2rem,700);
    margin-top: 3rem;
    margin-bottom: 2.5rem;
  }
  .premiun-products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $color-primary;
    .premium-product-card {
      width: 47%;
      // height: 27.7rem;
      border-radius: 10px;
      background-color: $color-primary;
      -webkit-appearance: none;
      -moz-appearance: none;
      box-shadow: 0px 6px 30px black;
      -webkit-box-shadow:  0px 0.6px 30px black;
      -moz-box-shadow:  0px 0.6px 30px black;
      position: relative;
      margin-bottom: 1rem;
      border: 0;
      .product-img-cont {
        width: 100%;
        height: 17.8rem;
        position: relative;
      }
      .product-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
      }
      .price-tag {
        @include Montserrat(1.2rem, 600);
        color: $color-primary;
        padding: 0.6rem 0.7rem 0.6rem 0.7rem;
        background-color: #474141;
        border-radius: 0.5rem;
        // margin-top: -3rem;
        z-index: 999;
        position: absolute;
        bottom: -1.5rem;
        left: 1rem;
        // width: fit-content;
      }
      .product-name {
        margin-top: 2rem;
        @include Montserrat(1.2rem, 600);
        margin-bottom: 0.5rem;
        margin-left: 1rem;
      }
      .product-description {
        margin-left: 1rem;
        color: #c2b7c6;
        @include Montserrat(1rem, 600);
      }
      .color-selections {
        width: 100%;
        display: flex;
        margin-top: 0.8rem;
        margin-left: 0.8rem;
        margin-bottom: 1.2rem;
        .color-1 {
          width: 2.1rem;
          height: 2.1rem;
          border-radius: 50%;
          background-color: #ffe2e2;
          margin-right: 1.1rem;
        }
        .color-2 {
          width: 2.1rem;
          height: 2.1rem;
          background-color: #bad7df;
          border-radius: 50%;
          margin-right: 1.1rem;
        }
        .color-3 {
          width: 2.1rem;
          height: 2.1rem;
          background-color: #f6f6f6;
          border-radius: 50%;
          margin-right: 1.1rem;
        }
        .color-4 {
          width: 2.1rem;
          height: 2.1rem;
          background-color: #bcbcbc;
          border-radius: 50%;
        }
      }
      .add-to-card-icon {
        // display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
      }
    }
  }
}


//PREMIUM THEME 2
#premium-selections-2 {
  margin-bottom: 1.5rem;
}

#mansory-view {
  width: 100%;
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-gap: 1rem;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  display: block;
}

#mansory-card {
  display: inline-block;
  width: auto;
  height: auto;
  .color-selections {
    margin-bottom: 1.2rem;
  }
  .product-img-cont {
    height: auto;
    .price-tag {
      bottom: -0.8rem;
    }
  }
}